.movein-popover-block {
    width: 2rem;
    position: relative;
    display: flex;
    flex-direction: row;

    .default-head-block {
        border: 1px solid #e3e5e7;
        border-radius: 5px;
        background-color: aliceblue;
        width: 2rem;
        line-height: 1;
        vertical-align: middle;
        text-align: center;
        padding: 2px;

        &:hover {
            cursor: pointer;
        }
    }

    .popover-block {
        display: none;
        box-sizing: border-box;
        visibility: hidden;
        float: left;
        flex-direction: column;
        padding: 0.2rem 0.2rem;
        z-index: 1;
        position: absolute;
        top: 100%;
        bottom: auto;
        left: auto;
        right: auto;

        .user-define-block {
            border: 1px solid #e3e5e7;
            border-radius: 5px;
        }
    }
}
